# Ignore build folders for all projects
**/bin/
**/obj/
**/Debug/
**/Release/

# Visual Studio working files
**/.vs/
/CleanArchitecture/Clean.API/logs

# Ignore publish profiles
**/Properties/PublishProfiles/
