@implements IDisposable
@if (allState.ShowGeneralDepartment)
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-start">General Department</h4>
                        <button class="btn btn-outline-success float-end" @onclick="AddClicked">
                            <i class="bi bi-plus-circle-dotted">Add Department</i>
                        </button>
                    </div>
                    <div class="card-header" style="max-height:580px; overflow-x:hidden; overflow-y:scroll;">
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Id</th>
                                        <th scope="col">General Department</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (generalDepartment is not null)
                                    {
                                        int count = 1;
                                        foreach (var item in generalDepartments)
                                        {
                                            <tr>
                                                <th scope="row">@count</th>
                                                <td>@item.Id</td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <i class="bi bi-pencil text-info cursorStyle" style="margin-right:10px" @onclick="()=>EditClicked(item)"></i>
                                                    <i class="bi bi-trash text-danger cursorStyle" @onclick="()=>DeleteClicked(item)"></i>
                                                </td>
                                            </tr>
                                            count++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4">
                                                <div class="alert alert-info text-center">
                                                    No General Department added yet!
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<GeneralDepartmentDialog @ref="generalDepartmentDialog"
                         HandleSaveOperationEvent="handleSaveOperationEvent"
                         GeneralDepartment="generalDepartment" />
@code {
    GeneralDepartmentDialog? generalDepartmentDialog;
    GeneralDepartment generalDepartment = new();

    List<GeneralDepartment> generalDepartments { get; set; } = new();
    string title { get; set; } = "Add";

    protected override async void OnInitialized()
    {
        await GetGeneralDepartments();
        allState.Action += StateHasChanged;
    }

    public void Dispose()
    {
        allState.Action -= StateHasChanged;
    }

    private void OpenDialog()
    {
        generalDepartmentDialog?.OpenDialog();
    }

    private async Task GetGeneralDepartments()
    {
        generalDepartments = await generalDepartmentService.GetAll(Constants.GeneralDepartmentBaseUrl);
        StateHasChanged();
    }

    private async Task handleSaveOperationEvent(GeneralDepartment generalDep)
    {
        bool successCk = false;
        if (generalDep.Id > 0)
        {
            var result = await generalDepartmentService.Update(generalDep, Constants.GeneralDepartmentBaseUrl);
            successCk = await DisplayMessage(result.Flag, result.Message);
        }
        else
        {
            var result = await generalDepartmentService.Insert(generalDep, Constants.GeneralDepartmentBaseUrl);
            successCk = await DisplayMessage(result.Flag, result.Message);
        }

        if (successCk)
        {
            generalDepartment = new();
            await GetGeneralDepartments();
            generalDepartmentDialog?.ChangeTitle("Add");
        }
    }

    private void AddClicked()
    {
        generalDepartmentDialog?.ChangeTitle("Add");
        generalDepartment = new();
        OpenDialog();
    }

    private void EditClicked(GeneralDepartment generalDep)
    {
        generalDepartmentDialog?.ChangeTitle("Update");
        generalDepartment = generalDep;
        OpenDialog();
    }

    private async void DeleteClicked(GeneralDepartment generalDep)
    {
        bool confirm = await dialogService.ConfirmAsync($"Are you sure to delete {generalDep.Name}", "Confirm Delete");
        if (!confirm) return;

        var result = await generalDepartmentService.DeleteById(generalDep.Id, Constants.GeneralDepartmentBaseUrl);
        
        if (await DisplayMessage(result.Flag, result.Message))
            await GetGeneralDepartments();
    }

    private async Task<bool> DisplayMessage(bool flag, string message)
    {
        if (flag)
        {
            await dialogService.AlertAsync(message, "Operation Success");
            return true;
        }
        else
        {
            await dialogService.AlertAsync(message, "Alert");
            return false;
        }
    }
}
