<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="card border-primary cursorStyle">
                <div class="card-header"><i class="bi bi-people text-primary"></i> Employees</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card border-success cursorStyle">
                <div class="card-header"><i class="bi bi-backpack3 text-success"></i> Vacation</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card border-danger cursorStyle">
                <div class="card-header"><i class="bi bi-stopwatch text-danger"></i> Overtime</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card border-warning cursorStyle">
                <div class="card-header"><i class="bi bi-hospital text-warning"></i> Doctor</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card border-info cursorStyle">
                <div class="card-header"><i class="bi bi-x-octagon text-info"></i> Sanctions</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card border-dark cursorStyle">
                <div class="card-header"><i class="bi bi-slack text-dark"></i> Departments</div>
            </div>
        </div>
    </div>
</div>
